<form>
  <div class="form-group">
    <label for="answer">Answer:</label>
    {{input value=answer id="answer"}}
  </div>

  <div class="form-group">
    <label for="author">Author:</label>
    {{input value=author id="author"}}
  </div>

  <button class='btn btn-success' {{action 'createAnswer'}}>Save</button>
</form>
