<form>
  <div class="form-group">
    <label for="title">What's your question?</label>
    {{input class="form-control" value=title id="title"}}
  </div>

  <div class="form-group">
    <label for="author">Username:</label>
    {{input class="form-control" value=author id="author"}}
  </div>

  <div class="form-group">
    <label for="content">Explain your question:</label>
    {{textarea class="form-control" value=content id="content" rows="6"}}
  </div>

  <button class='btn btn-success' {{action 'createQuestion'}}>Save</button>
</form>
